
.wrap {
    position: relative;
    width: 475px;
    height: 510px;
    margin-top: 45px;
    overflow: hidden;
    border-radius: 25px;
    border: 3px solid black;
    box-sizing: border-box;
}


body{
    background-color: rgb(236, 247, 236);
    /* position: fixed; */
}


h1{
    text-align: center;
    color:rgb(20, 97, 55);
    margin-bottom: 10px;
    font-size: 48px;
}

h2{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
    color:black;
    text-align: center
}

Positive{
    color: green
}

Negative{
    color: red
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: lightgray;
    color: darkslategray;
    text-align: center;
  }