<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Stock Sentiment</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="../static/style.css">
</head>

<body>




  <!-- Create the overall grid -->
  <div class="container" style="background-color: rgb(236, 247, 236);">
    <!-- Row0 -->
    <section class="row">
      <div class="col-md-12">
        <h1><center>Word Cloud of S&P 500 News with Sentiment Analysis</center>
        </h1>
        <h2>Select a stock and click on any word in the cloud to display links to news articles where it
          appears and the article's sentiment.
          Words are colorized based on usage positivity (green) or negativity (red).</h2>
        <center>
          <select id="selDataset" onchange="dataChanged(this.value)">
            <option value="">S&P 500 Stock Companies (select one)</option>
            <option value="AMZN">AMZN TEST</option>
            {% for val in list %}
            <option value={{ val.symbol }}>{{ val.name }}</option>
            {% endfor %}
          </select>
        </center>
    </section>
    <div id="wordcloud_sentiment"></div>
  
  <section class="row">
    <div class="col-md-6">
      <div class="wrap">
      <div id="wordcloud">
      </div>
    </div>
    </div>
    <div class="col-md-6">
      <br>
      <br>
      <div id="wordcloud_news"></div>
    </div>

    </div>


  </section>





  <!-- WordCloud -->
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script src="https://cdn.jsdelivr.net/gh/holtzy/D3-graph-gallery@master/LIB/d3.layout.cloud.js"></script>
  <script src="../static/js/wordcloud.js"></script>
  <!-- End WordCloud -->

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

</body>

</html>